[build-system]
requires = [
    "setuptools>=42",
    "wheel"
]
build-backend = "setuptools.build_meta"

[project]
name = "xinlan-tools"
version = "0.0.1"
authors = [
  { name="xinlan", email="117220100@qq.com" },
]
description = "python开发的实用小工具"
readme = "README.md"
requires-python = ">=3.7"
license = {file = "LICENSE"}
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3 :: Only",
]

# [project.urls]
# "Homepage" = "http"
# "Bug Tracker" = ""

dependencies = [
]
[project.scripts]
tools="tools:tools"